sphinx-intl==2.1.0
powrap==1.0.1

# Dependencies for scripts/lock-translations.py
python-dateutil==2.8.2
transifex-python==3.4.0

# Dependencies required by scripts/updpyver.py
bs4==0.0.1
beautifulsoup4==4.12.2
packaging==23.1
requests==2.31.0
