sphinx-intl==2.3.1
powrap==1.0.2

# Dependencies for scripts/lock-translations.py
python-dateutil==2.9.0.post0
transifex-python==3.5.0

# Dependencies required by scripts/manage_versions.py
bs4==0.0.2
beautifulsoup4==4.13.3
packaging==23.2
requests==2.32.3
